<!DOCTYPE html>

<html lang="ru">
<head>

<meta charset="UTF-8">

<title>{{ hname }} Web </title>
</head>
<style> body{background-color: green;}</style>
<body>
<br> Пример простой страницы - для того, чтобы посмотреть код, нажмите ctrl + U </br>
<br> Server Hostname is {{ hname }} </br>
<br> Server IPv4 is {{ ansible_default_ipv4.address }} </br>
</body>
</html>